.list-group{
    flex-direction: row;
    margin-top:2%;
    border: 1px solid lightgrey;
}
.list-group-item{
    width:33.33%;
    text-align: center;
}
.list-group-item:hover{
    background-color: #e8a18e;
    color:white;
}
.item{
    text-decoration: none;
    color:black;
}
#button{
    border-color: #e8a18e;
    background-color:#e8a18e;
    color:white;
}
.item:hover {
    background-color: #e8a18e;
    color:white;
  }