.con{
    margin-top: 5%;
}
.center-text{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.heading{
   
   margin-top: 1%;
}
.but{
    border-color:black;
    background-color:black;
    color:white;
    width:15%;
    margin-left: 77%;
    margin-bottom:1%;
}
.but:hover{
    background-color:black;
}
.sign{
    text-decoration: none;
    color:black;
}
.itemRow{
    margin-top:2%;
    
}